<%
	@title = 'Dota2 直播订阅'
 	if Time.now - $dota2_update_time > 30
		$dota2_live_list.clear
		$dota2_live_list_sort.clear
	 		update_dota2_live_list
		$dota2_update_time = Time.now.getlocal("+08:00")
 	end
 	rss_list = session['site.anchor'] ? session['site.anchor'] : []
 	rss_live_list = []
 	rss_list.each do |anchor|
 		rss_live_list.push(anchor) if $dota2_live_list[anchor]
 	end
 	rss_live_list.each do |anchor|
 		rss_list.delete(anchor)
 		rss_list.unshift(anchor)
 	end
%>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 col-lg-2"></div>
		<div class="col-md-8 col-lg-8">
			<div class="row" style="padding-bottom:12px">
				<h2 class="pull-right" style="padding-right:20px"><img src="img/dota2_logo.png" height="30px"></h2>
			</div>
			<div class="row">
				<% $dota2_live_list_sort.sort{ |x, y| y <=> x }.each do |key, value| %>
				<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 <%= rss_list.include?(value)? 'rss': 'unrss' %>">
				    <div class="panel panel-default" style="border:0px; box-shadow:-3px 3px 9px #000000">
					  	<div class="panel-body" style="padding:0px">
							<div class="thumbnail" style="padding:0px; margin-bottom:0px; border:0px">
						      	<img class="lazy" src="img/img.jpg" data-original="<%= $dota2_live_list[value][:img] %>" style="width:100%; border-top-left-radius:3px; border-top-right-radius:3px">
						    	<a href="<%= $dota2_live_list[value][:href] %>">
						    		<span class="label label-<%= $label[$dota2_live_list[value][:site]] %>" style="position:absolute; right:15px; top:0px; box-shadow:2px -2px 3px #000000 inset; border-top-left-radius:0px; border-bottom-right-radius:0px">
						    			<h5 style="margin:2px"><%= $dota2_live_list[value][:nnt] %></h5>
						    			<%= if $dota2_anchor_intro[value]
						    					'<div class="pull-right" style="text-align:right"><h3>' + $dota2_anchor_intro[value][0] + '</h3><h6>' + $dota2_anchor_intro[value][1].strip.split(',').join('</h6><h6>') + '</h6></div>'
						    				else
						    					'<div class="pull-right" style="text-align:right"><h3>' + $dota2_live_list[value][:nnt] + '</h3></div>'
						    				end %>
						    		</span>
						    	</a>
						    </div>
					  	</div>
					  	<div class="panel-footer" style="padding:8px; border-color:<%= $color[$dota2_live_list[value][:site]] %>"><h5 style="margin:0px"><%= $dota2_live_list[value][:title][0, 16] %><small class="pull-right" style="color:<%= $color[$dota2_live_list[value][:site]] %>"><span class="glyphicon glyphicon-user"></span> <%= $dota2_live_list[value][:view] %></small></h5></div>
					</div>
				</div>
				<% end %>
			</div>
		</div>
		<div class="col-md-2 col-lg-2">
			<div class="row" style="padding-bottom:12px">
				<h2 class="pull-right" style="padding-right:20px">&nbsp;<h5 class="pull-right"><small></small></h5></h2>
			</div>
			<div class="row">
				<div class="col-md-2 col-lg-2" style="position:fixed">
					<div class="row">
						<div class="col-md-11 col-lg-9">
							<div class="panel panel-default" style="box-shadow:-3px 3px 9px #000000;">
							  	<div class="panel-heading">
							  		<strong>订阅列表</strong>
									<button type="button" class="close" data-toggle="modal" data-target="#myModal" style="font-size:100%"><span class="glyphicon glyphicon-edit"></span></button>
								</div>
								<ul class="list-group" style=" max-height:468px; overflow-y:auto">
									<%
										rss_list.each do |anchor|
										next unless $dota2_anchor_intro[anchor]
									%>
			    					<li class="list-group-item" style="color:<%= $color[anchor.split('.')[0]] %>">
			    						 <span class="glyphicon glyphicon-<%= rss_live_list.include?(anchor)? 'play': 'stop' %> pull-right"></span><strong><%= $dota2_anchor_intro[anchor][0] %></strong>
									</li>
									<% end %>
		    					</ul>
								<div class="panel-footer">
									<input type="checkbox" data-label-text="全部直播" name="my-checkbox" data-size="mini" checked>
								</div>
		    				</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<form role="form" method="post" action="liverss">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        		<h3 class="modal-title" id="myModalLabel">订阅管理</h3>
      		</div>
      		<div class="modal-body">
      			<div class="row">
      				<% $dota2_anchor_intro.sort.each do |key, value| %>
	      			<div class="col-md-6 col-lg-4">
			      		<div class="checkbox">
						  <label style="color:<%= $color[key.split('.')[0]] %>">
						  	<input type="checkbox" name="site.anchor[]" <%= rss_list.include?(key)? 'checked': '' %> value="<%= key %>">
						    <%= value[0] %>
						  </label>
						</div>
					</div>
					<% end %>
				</div>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
        		<button type="submit" class="btn btn-primary">确定</button>
      		</div>
			</form>
    	</div>
  	</div>
</div>
<script>
	$(document).ready(function(){
		$('.thumbnail img').height($('.thumbnail img').width()/1.8);
		$('div.pull-right').hide();
		$("[name='my-checkbox']").bootstrapSwitch();
		$("img.lazy").lazyload();
		$('input[name="my-checkbox"]').on('switchChange.bootstrapSwitch', function(){
			$('.unrss').toggle();
		});
		$('.thumbnail').hover(function(){
			span_width = $(this).find('span').width();
			span_height = $(this).find('span').height();
			$(this).find('span').css("box-shadow", "1px -1px 6px #000000 inset");
			$(this).find('span').css("border-top-left-radius", "3px");
			$(this).find('span').css("border-bottom-left-radius", "0px");
			$(this).find('span').stop().animate({width: $(this).width(), height: $(this).height()}, 200);
			$(this).find('span').css("opacity", "0.8");
			$(this).find('h5').hide();
			$(this).find('div.pull-right').show();
		}, function(){
			$(this).find('span').css("box-shadow", "2px -2px 3px #000000 inset");
			$(this).find('span').css("border-top-left-radius", "0px");
			$(this).find('span').css("border-bottom-left-radius", "3px");
			$(this).find('span').stop().animate({width: span_width + 14.4, height: span_height + 6}, 100);
			$(this).find('span').css("opacity", "1");
			$(this).find('div.pull-right').hide();
			$(this).find('h5').show();
		});
		$('.panel-footer div').click(function(){
			$('.unrss').toggle();
		});
		window.onresize = function(){
			$('.thumbnail img').height($('.thumbnail img').width()/1.8);
		}
	});
</script>
